@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
body {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

#bg-container {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  background: url(/images/background.jpg) 50% 100% no-repeat;
  background-size: 1440px 1315px;
}

nav {
  width: 980px;
  height: 36px;
  background-image: linear-gradient(
    0deg,
    #6c6c6c,
    #505050 50%,
    #646764 50%,
    #848484 100%
  );
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 90px;
}

main {
  max-width: 65%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 165px;
}

main h1 {
  color: white;
  font-size: 65px;
  font-weight: 100;
  text-align: center;
}
main h2 {
  margin-top: 10px;
  color: white;
  font-size: 35px;
  font-weight: 100;
  text-align: center;
}

main h3 {
  color: white;
  font-weight: 100;
  font-size: 26px;
  text-align: center;
  margin-top: 20px;
}

main h3 a {
  color: white;
}
main h3 a:hover {
  text-decoration: underline;
}
#images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  border-top: 2px solid white;
}

#images img {
  width: 100%;
}

footer {
  padding: 20px 0;
  width: 80%;
  margin: 0 auto;
}
footer a {
  font-size: 10px;
  color: #08c;
}
footer a:hover {
  text-decoration: underline;
}
footer p {
  font-size: 10px;
  color: #6e6e6e;
}
#left-footer {
  float: left;
}
#left-footer li {
  padding: 5px 0;
}
#right-footer {
  float: right;
}

#right-footer ul {
  display: flex;
}

#right-footer ul li {
  padding: 0 10px;
  border-right: 1px solid rgb(204, 204, 204);
}
#right-footer > ul > li:last-child {
  border-right-style: none;
}

#right-footer img {
  vertical-align: middle;
}
