body {
}

nav {
  height: 40px;
  background-image: linear-gradient(
    0deg,
    #6c6c6c,
    #505050 50%,
    #646764 50%,
    #848484 100%
  );
  border-radius: 4px;
  margin: 0 auto;
}

#images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
